<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card ">
        <div class="card-header">
          <div class="container-fluid">
            <div class="d-flex mb-3">
              <div class="p-2">
                <!-- Search form -->
                <form class="d-flex input-group w-auto">
                  <input
                    type="search"
                    class="form-control"
                    placeholder="Type a product name"
                    aria-label="Search"
                    [(ngModel)]="searchText"
                    [ngModelOptions]="{standalone: true}"
                  />
                  <button class=" btn btn-outline-primary" type="button" (click)="search()">
                    Search
                  </button>
                </form>
              </div>
              <div class="p-2">
                <button type="button" class="btn btn-primary" (click)="getProductList()">List</button>
              </div>
              <div class="ms-auto p-2">
                <button type="button" class="btn btn-primary" (click)="addProduct()">New Product</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Product Name</th>
              <th scope="col">Product Description</th>
              <th scope="col">Box Name</th>
              <th scope="col">Box Location</th>
              <th scope="col">Process Type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of this.productArr">
              <th>{{product?.name}}</th>
              <th>{{product?.desc}}</th>
              <th>{{product.box?.name}}</th>
              <th>{{product.box?.location}}</th>
              <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" (click)="edit(product.id)" class="btn btn-primary btn-floating">
                    <i class="fas fa-magic"></i>
                  </button>
                  <button type="button" (click)="remove(product.id)" class="btn btn-danger btn-floating">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


